<!DOCTYPE html>
<html lang="pt-br">

<head>

    <%- include("../components/Page-Head.ejs", {title: "AniJogos - Atualizar dados" }) %>

</head>

<body style="background-color: cornsilk">
    <div id="update-delete-data">
        <header>
            <a href="/registers/update"> &lt; </a>
            <h1>Atualizar Dados</h1>
        </header>

        <% dataResult.forEach(dataResult=> { %>

            <main>

                <form action="/registers/update/sites/<%= dataResult.id %> " method="post">
                    <fieldset>
                        <legend>
                            <h2>Insira os novos Dados</h2>
                        </legend>
                        <div id="form-content-update">
                            <div class="input-group">
                                <label for="site-id">Id</label>
                                <input type="text" name="site-id" id="site-id" disabled value="<%= dataResult.id %>">
                            </div>

                            <div class="input-group">
                                <label for="site-name">Nome:</label>
                                <input type="text" name="site-name" id="site-name" value="<%=dataResult.name %>">
                            </div>

                            <div class="input-group">
                                <label for="site-link">Link:</label>
                                <input type="text" name="site-link" id="site-link" value="<%= dataResult.link %>">
                            </div>

                            <div id="button-group">
                                <button type="submit" id="update-confirm-button">Confirmar</button>
                                <button type="reset" class="clear">Limpar Alterações feitas</button>
                            </div>
                        </div>
                    </fieldset>
                </form>


                <aside>
                    <div>
                        <header>
                            <h2>Deletar Site!</h2>
                        </header>
                        <div id="delete-image-button">
                            <button type="submit" onclick="Modal.open()" id="open-modal-delete-button">Deletar</button>
                        </div>
                    </div>
                </aside>
            </main>

            <%- include("../components/Page-modal-Delete.ejs", {router: "sites", id: dataResult.id}) %> 

            <% }) %>

    </div>
</body>

</html>