<!DOCTYPE html>
<html lang="pt-br">

<head>

    <%- include("../components/Page-Head.ejs", {title: "AniJogos - Atualizar dados" }) %>

</head>

<body style="background-color: cornsilk">

    <div id="update-anime">
        <header>
            <a href="/registers/update"> &lt; </a>
            <h1>Atualizar Dados</h1>
        </header>

        <% dataResult.forEach(dataResult=> { %>
            <main>

                <form action="/registers/update/animes/<%= dataResult.id %> " method="post">
                    <fieldset>
                        <legend><h2>Insira os novos Dados</h2></legend>
                        <div id="form-content-update">
                            <div class="input-group">
                                <label for="anime-id">Id</label>
                                <input type="text" name="anime-id" id="anime-id" disabled value="<%= dataResult.id %>">
                            </div>

                            <div class="input-group">
                                <label for="anime-name">Nome:</label>
                                <input type="text" name="anime-name" id="anime-name" value="<%=dataResult.name %>"
                                    style="color: black;">
                            </div>

                            <div class="input-group">
                                <label for="anime-link">Link:</label>
                                <input type="text" name="anime-link" id="anime-link" value="<%= dataResult.link %>">
                            </div>

                            <div class="input-group">
                                <label for="anime-image">Imagem:</label>
                                <input type="text" name="anime-image" id="anime-image" value="<%= dataResult.image %>">
                            </div>

                            <div id="button-group">
                                <button type="submit" id="update-confirm-button">Confirmar</button>
                                <button type="reset" id="update-cancel-button">Cancelar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <aside>
                    <div>
                        <header>
                            <h2>Deletar Anime!</h2>
                        </header>
                        <div id="delete-image-button">
                            <img src="<%= dataResult.image %> " alt="Imagem não disponivel!">
                            <button type="submit" onclick="Modal.open()" id="open-modal-delete-button">Deletar</button>
                        </div>
                    </div>
                </aside>
            </main>

            <div class="modal-delete">
                <div id="modal">
                    <header>
                        <h3>Tem certeza que deseja deletar?</h3>
                    </header>
                    <div id="button-delete-group">
                        <button type="submit" form="delete-form" id="confirm-delete">Confirmar</button>
                        <button type="reset" onclick="Modal.close()" id="cancel-delete">Cancelar</button>
                    </div>
                </div>
            </div>

            <form action="/registers/delete/animes/<%= dataResult.id %>" method="post" id="delete-form">
            </form>

            <% }) %>

    </div>

</body>

</html>