<!DOCTYPE html>
<html lang="pt-br">

<head>

    <% const pageStyles = ["asideRegisters.css", "updateFormStyle.css", "modalAuthenticateDelete.css"] %> 

    <%- include("../components/Page-Head.ejs", {title: "AniJogos - Atualizar dados", styles: pageStyles}) %>    

</head>
<body style="background-color: cornsilk">

    <div id="update-delete-data">
        <header>
            <a href="/registers/update"> &lt; </a>
            <h1>Atualizar Dados</h1>
        </header>

        <% dataResult.forEach(dataResult=> { %>
            <main>
                
                <aside>
                    <div>
                        <header>
                            <h2>Deletar Anime!</h2>
                        </header>
                        <div id="delete-image-button">
                            <img src="<%= dataResult.image %> " alt="Imagem não disponivel!">
                            <button type="submit" onclick="Modal.open()" id="open-modal-delete-button">Deletar</button>
                        </div>
                    </div>
                </aside>

                <form action="/registers/update/animes/<%= dataResult.id %> " method="post">
                    <fieldset>
                        <legend><h2>Insira os novos Dados</h2></legend>
                        <div id="form-content-update">
                            <div class="input-group">
                                <label for="anime-id">Id</label>
                                <input type="text" name="anime-id" id="anime-id" disabled value="<%= dataResult.id %>">
                            </div>

                            <div class="input-group">
                                <label for="anime-name">Nome:</label>
                                <input type="text" name="anime-name" id="anime-name" value="<%=dataResult.name %>">
                            </div>

                            <div class="input-group">
                                <label for="anime-link">Link:</label>
                                <input type="text" name="anime-link" id="anime-link" value="<%= dataResult.link %>">
                            </div>

                            <div class="input-group">
                                <label for="anime-image">Imagem:</label>
                                <input type="text" name="anime-image" id="anime-image" value="<%= dataResult.image %>">
                            </div>

                            <div id="button-group">
                                <button type="submit" id="update-confirm-button">Confirmar</button>
                                <button type="reset" class="clear">Limpar Alterações feitas</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </main>

            <%- include("../components/Page-modal-Delete.ejs",{router: "animes", id: dataResult.id}) %> 

            <% }) %>

    </div>

</body>

</html>