<!DOCTYPE html>
<html lang="pt-br">
<head>
	<%- include("./components/Page-Head.ejs", {title: "AniJogos - Animes"}) %> 
</head>
<body>
	<!-- Menu de navegação -->
	
	<%- include("./components/Page-Nav.ejs") %> 
	
	<div class="container-fluid">
		<header>
			<h1>Lista de Animes:</h1>
		</header>
		<br>
		<!-- Paginação -->
		
		<%- include("./components/Page-Pagination.ejs", {Page1: "/animes", Page2: "/animesPage2"}) %>

		<main>
			<!-- 1º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/DeathNote.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/death-note" target="_blank" tabindex="7">Death Note</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/DragonBall.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/dragon-ball-z" target="_blank" tabindex="8">Dragon Ball Z</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/ElfenLied.jpeg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/elfen-lied" target="_blank" tabindex="9">Elfen Lied</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 2º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/FairyTail.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/fairy-tail" target="_blank" tabindex="10">Fairy Tail</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Fullmetal.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://www.meuanime.com/fullmetal-alchemist-brotherhood" target="_blank" tabindex="11">Fullmetal Alchemist Btrw</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Hunter.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/hunter-x-hunter-2011" target="_blank" tabindex="12">Hunter x Hunter</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 3º Linha de cards -->
			<div class="row">
				
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/HatarakuMaou.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://www.meuanime.com/hataraku-maou-sama" target="_blank" tabindex="13">Hataraku Maou Sama</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Jujutsu.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/jujutsu-kaisen" target="_blank" tabindex="14">Jujutsu Kaisen</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/KProject.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/k" target="_blank" tabindex="15">K-Project</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 4º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Kaguya.jpeg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://www.meuanime.com/kaguya-sama-wa-kokurasetai-tensai-tachi-no-renai-zunousen" target="_blank" tabindex="16"> Kaguya-sama Love Is War</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Kakegurui.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/kakegurui" target="_blank" tabindex="17">Kakegui</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/MagicKaito.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/magic-kaito" target="_blank" tabindex="18">Magic Kaito</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 5º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">	
					<div class="card-content">
						<img src="/images/animes/Mahoutsukai.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://www.meuanime.com/mahoutsukai-no-yome" target="_blank" tabindex="19">Mahotsukai no Yume</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/MiraiNikki.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/mirai-nikki" target="_blank" tabindex="20">Mirai Nikki</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">	
					<div class="card-content">
						<img src="/images/animes/NanatsuNoTaizai.jpg" class="card-img-top">
						<div class="card-footer" id="medium-fit">
							<a href="https://www.meuanime.com/nanatsu-no-taizai" target="_blank" tabindex="21">Nanatsu no Taizai</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 6º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Naruto.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/naruto" target="_blank" tabindex="22">Naruto</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/NarutoShippuden.jpg" class="card-img-top">
						<div class="card-footer" id="medium-fit">
							<a href="https://www.meuanime.com/naruto-shippuden" target="_blank" tabindex="23">Nauto Shippuden</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/OdaNobuna.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://www.meuanime.com/oda-nobuna-no-yabou" target="_blank" tabindex="24">Oda Nobuna Yabou</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 7º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/OnePiece.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/one-piece" target="_blank" tabindex="25">One Piece</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/OnePunch.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/one-punch-man" target="_blank" tabindex="26">One Punch Man</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/CavaleirosZodiaco.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://www.meuanime.com/os-cavaleiros-do-zodiaco" target="_blank" tabindex="27">Os Cavaleiros do Zodíaco</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 8º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Overlord.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/overlord" target="_blank" tabindex="28">Overlord</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/OwariSeraph.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/owari-no-seraph" target="_blank" tabindex="29">Owari no Seraph</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Pokemon.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/pokemon" target="_blank" tabindex="30">Pokemón</a>
						</div>
					</div>
				</div>
			</div>	
			<br>
			<!-- 9º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/Shingeki.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://www.meuanime.com/shingeki-no-kyojin" target="_blank" tabindex="31">Shingeki no Kyojin</a>
						</div>
					</div>
				</div>
			
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/SAO.jpg" class="card-img-top">
						<div class="card-footer" id="medium-fit">
							<a href="https://www.meuanime.com/sword-art-online" target="_blank" tabindex="32">Sword Art Online</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/animes/TokyoGhoul.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://www.meuanime.com/tokyo-ghoul" target="_blank" tabindex="33">Tokyo Ghoul</a>
						</div>
					</div>
				</div>	
			</div>
		</main>
		<br>
		<!-- Paginação -->
		
		<%- include("./components/Page-Pagination.ejs", {Page1: "/animes", Page2: "/animesPage2"}) %> 

		<!-- Observação -->
		
		<%- include("./components/Page-Note.ejs") %> 

	</div>

	<!--Rodapé-->

	<%- include("./components/Page-Footer.ejs") %> 

</body>
</html>