<!DOCTYPE html>
<html lang="pt-br">
<head>
	<%- include("./components/Page-Head.ejs", {title: "AniJogos - Animes"}) %> 
</head>
<body>
	<!--Menu de navegação-->
	<%- include("./components/Page-Nav.ejs") %> 
	
	<div class="container-fluid">
		<header>
			<h1>Lista de Animes:</h1>
		</header>
		<br>
		<!-- Paginação -->
		
		<%- include("./components/Page-Pagination.ejs", {Page1: "/animes", Page2: "/animesPage2"}) %>
		

		<button id="value-button" onclick="Url.animeUrl()" style="padding: 50px;"></button>

		<a href="?page=1" id="page-one">Paina 1</a>
		<a href="?page=2" id="page-two">Paina 2</a>

		<input type="hidden" name="numberRows" id="numberRows" value="<%= totalRows %>">

		<main>

			<div class="row">

				<% dataAnimes.forEach(dataAnimes=> { %>

					<div class="col-sm-4">
						<div class="card-content">

							<img src="<%= dataAnimes.image %>" class="card-img-top">
							<div class="card-footer">
								<a href="<%= dataAnimes.link %>" target="_blank" tabindex="7">
									<%= dataAnimes.name %>
								</a>
							</div>

						</div>
					</div>

				<% }) %>

			</div>


		</main>
		<br>
		<!-- Paginação -->
		
		<%- include("./components/Page-Pagination.ejs", {Page1: "/animes", Page2: "/animesPage2"}) %>

		<!-- Observação -->
		<%- include("./components/Page-Note.ejs")  %> 
	</div>

	<!--Rodapé-->
	<%- include("./components/Page-Footer.ejs") %> 
</body>
</html>
