<!DOCTYPE html>
<html lang="pt-br">
<head>

	<%- include("./components/Page-Head.ejs", {title: "AniJogos - Games"}) %> 

</head>
<body>
	<!-- Menu de navegação -->
	
	<%- include("./components/Page-Nav.ejs") %> 

	<div class="container-fluid">
		<header>
			<h1>Lista de jogos clássicos:</h1>
		</header>
		<br>
		<!-- Paginação -->
		
		<%- include("./components/Page-Pagination.ejs", {numberOfPages: numberOfPages, current: current}) %>
		
		<!--Conteúdo principal / cards de jogos-->

		<main>
		
			<div class="row">

				<% dataGamesLimit.forEach(dataGamesLimit=> { %>

					<div class="col-sm-4">
						<div class="card-content">

							<img src="<%= dataGamesLimit.image %>" class="card-img-top">
							<div class="card-footer">
								<a href="<%= dataGamesLimit.link %>" target="_blank" tabindex="7">
									<%= dataGamesLimit.name %>
								</a>
							</div>

						</div>
					</div>

				<% }) %>

			</div>
		</main>

		<!-- Paginação -->
		
		<%- include("./components/Page-Pagination.ejs", {numberOfPages: numberOfPages, current: current}) %>
		

		<!-- Observação -->
		
		<%- include("./components/Page-Note.ejs") %> 

	</div>

	<!--Rodapé-->
	
	<%- include("./components/Page-Footer.ejs") %> 

	
	<!--Scripts-->
	<script src="/scripts/script.js" defer ></script>
</body>
</html>