<!DOCTYPE html>
<html lang="pt-br">
<head>

	<%- include("./components/Page-Head.ejs", {title: "AniJogos - Games"}) %> 

</head>
<body>
	<!-- Menu de navegação -->

	<%- include("./components/Page-Nav.ejs") %> 

	<div class="container-fluid">
		<header>
			<h1>Lista de jogos clássicos:</h1>
		</header>
		<br>
		<!-- Paginação -->
		
		<%- include("./components/Page-Pagination.ejs", {Page1: "/games", Page2: "/gamesPage2"}) %> 

		<main>
			<!-- 1º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/MegaManLegends2.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/psx/38867/Mega_Man_Legends_2.php" target="_blank" tabindex="7">Mega Man Legends 2</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/MetalGearSolid.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/psx/38924/Metal_Gear_Solid_(Disc_1)_(v1.1).php" target="_blank" tabindex="8">Metal Gear Solid</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/MetalSlugAnthology.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/psp/45634/Metal_Slug_Anthology.php" target="_blank" tabindex="9">Metal Slug Anthology
							</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 2º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/MetalSlugX.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/neogeo/12/Metal_Slug_X.php" target="_blank" tabindex="10">Metal Slug X
							</a>
						</div>
					</div>
				</div>	
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/PowerRangers.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/genesis/47780/Mighty_Morphin_Power_Rangers_-_The_Movie_(Europe).php" target="_blank" tabindex="11">Mighty Morphin Power R.
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/MortalKombat2.jpg" class="card-img-top">
						<div class="card-footer" id="medium-fit">
							<a href="https://coolrom.com.au/roms/gamegear/7523/Mortal_Kombat_2.php" target="_blank" tabindex="12">Mortal Kombat 2
							</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 3º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/NarutoShippudenUltimateNinja5.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/ps2/41793/Naruto_Shippuden_-_Ultimate_Ninja_5.php" target="_blank" tabindex="13">Naruto Shippuden U.N 5
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/NarutoShippudenUltimateNinjaImpact.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/psp/47194/Naruto_Shippuden_-_Ultimate_Ninja_Impact_(Europe).php" target="_blank" tabindex="14">Naruto Shippuden U.N.I.
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/NeedForSpeedMostWanted.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/ps2/41849/Need_for_Speed_-_Most_Wanted_-_Black_Edition.php" target="_blank" tabindex="15">Need for Speed Most W.
							</a>
						</div>
					</div>	
				</div>
			</div>
			<br>
			<!-- 4º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/NeedForSpeedUnderground2.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/ps2/41967/Need_for_Speed_-_Underground_2.php" target="_blank" tabindex="16">Need For Speed Udg. 2</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/PacMan.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/gamegear/7430/Pac-Man.php" target="_blank" tabindex="17">Pac-Man</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/ResidentEvil1.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/psx/39582/Resident_Evil.php" target="_blank" tabindex="18">Resident Evil 1
							</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- 5º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/ResidentEvil2.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/psx/39847/Resident_Evil_2_(Disc_1).php" target="_blank" tabindex="19">Resident Evil 2
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/ResidentEvil3.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/psx/39931/Resident_Evil_3_-_Nemesis.php" target="_blank" tabindex="20">Resident Evil 3 - Nemesis
							</a>
						</div>
					</div>		
				</div>
				<div class="col-sm-4">	
					<div class="card-content">
						<img src="/images/jogos/ResidentEvil4.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/ps2/41800/Resident_Evil_4.php" target="_blank" tabindex="21">Resident Evil 4</a>
						</div>
					</div>				
				</div>
			</div>
			<br>
			<!-- 6º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">	
					<div class="card-content">
						<img src="/images/jogos/SamuraiShodown.jpg" class="card-img-top">
						<div class="card-footer" id="medium-fit">
							<a href="https://coolrom.com.au/roms/gamegear/7420/Samurai_Shodown.php" target="_blank" tabindex="22">Samurai Shodown</a>
						</div>
					</div>	
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/SonicTheHedgehog2.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/gamegear/7364/Sonic_the_Hedgehog_2.php" target="_blank" tabindex="23">Sonic The Hedgehog 2</a>
						</div>
					</div>		
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/SpiderMan.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/psx/40092/Spider-Man.php" target="_blank" tabindex="24">Spider-Man
							</a>
						</div>
					</div>		
				</div>
			</div>
			<br>
			<!-- 7º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/StreetsOfRage.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/genesis/1213/Streets_of_Rage.php" target="_blank" tabindex="25">Streets Of Rage
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/SuperMario.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://www.romsmax.com/snes/super-mario-world-portugues/" target="_blank" tabindex="26">Super Mario World</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/Teken.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/psx/39719/Tekken_3.php" target="_blank" tabindex="27">Teken 3</a>
						</div>
					</div>			
				</div>
			</div>
			<br>
			<!-- 8º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/Tenchu2BirthOfTheStealthAssassins.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/psx/39754/Tenchu_2_-_Birth_of_the_Stealth_Assassins.php" target="_blank" tabindex="28">Tenchu 2 
							</a>
						</div>
					</div>	
				</div>	
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/TwistedMetal4.jpg" class="card-img-top">
						<div class="card-footer">
							<a href="https://coolrom.com.au/roms/psx/39641/Twisted_Metal_4.php" target="_blank" tabindex="29">Twisted Metal 4
							</a>
						</div>
					</div>		
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/UrbzTheSimsInTheCity.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/ps2/41470/Urbz,_The_-_Sims_in_the_City.php" target="_blank" tabindex="30">Urbz, The - Sims City
							</a>
						</div>
					</div>		
				</div>
			</div>	
			<br>
			<!-- 9º Linha de cards -->
			<div class="row">
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/Vigilante8.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/psx/40091/Vigilante_8_-_2nd_Offense.php" target="_blank" tabindex="31">Vigilante 8 - 2nd Offense
							</a>
						</div>
					</div>		
				</div>
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/YuGiOhForbiddenMemories.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/psx/39843/Yu-Gi-Oh!_Forbidden_Memories.php" target="_blank" tabindex="32">Yu-Gi-Oh Forbidden M.
							</a>
						</div>
					</div>
				</div>		
				<div class="col-sm-4">
					<div class="card-content">
						<img src="/images/jogos/WWFSmackDown2.jpg" class="card-img-top">
						<div class="card-footer" id="ajuste-linha">
							<a href="https://coolrom.com.au/roms/psx/39715/WWF_SmackDown!_2_-_Know_Your_Role.php" target="_blank" tabindex="33">WWF SmackDown! 2
							</a>
						</div>
					</div>			
				</div>	
			</div>
		</main>
		<br>
		<!-- Paginação -->
		
		<%- include("./components/Page-Pagination.ejs", {Page1: "/games", Page2: "/gamesPage2"}) %> 

		<!-- Observação -->
		
		<%- include("./components/Page-Note.ejs") %> 

	</div>

	<!--Rodapé-->
	
	<%- include("./components/Page-Footer.ejs") %> 

</body>
</html>