<!DOCTYPE html>
<html lang="pt-br"> 
<head>

	<%- include("./components/Page-Head.ejs", {title: "AniJogos - Musicas"}) %> 

</head>
<body>
	<!-- Menu de navegação -->
	
	<%- include("./components/Page-Nav.ejs") %> 

	<div class="container-fluid">
		<header>
			<h1>Lista de Músicas:</h1>
		</header>
		<br>
		<main>
			<!-- Card com a lista de musicas -->
			<div class="card-music">
				<div class="card-header">
					<h2>Opening e Endings mais populares:</h2>
				</div>
				<div class="card-body">			
					<ol>

						<header><h3>Letra A:</h3></header>

						<% let counterB = 0, counterC=0, counterD=0, counterE=0, counterF=0, counterG=0, counterH=0, counterI=0, counterJ=0, counterK=0, counterL=0, counterM=0, counterN=0, counterO=0, counterP=0, counterQ=0, counterR=0, counterS=0, counterT=0, counterU=0, counterV=0, counterX=0, counterY=0, counterZ=0, counterW=0;  let tabindex=5; %> 

						<%  dataSongs.forEach(dataSongs => { %>

							
							<%if (dataSongs.name.substr(0,1).toLowerCase() == "b" && counterB == 0) {%>
														
								<header><h3>Letra B:</h3></header>
								
							<% counterB++; } %>

							<%  if (dataSongs.name.substr(0,1).toLowerCase() == "c" && counterC == 0) {%>
														
								<header><h3>Letra C:</h3></header>

							<%  counterC++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "d" && counterD == 0) {%>
														
								<header><h3>Letra D:</h3></header>
								
							<% counterD++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "e" && counterE == 0) {%>
														
								<header><h3>Letra E:</h3></header>
								
							<% counterE++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "f" && counterF == 0) {%>
														
								<header><h3>Letra F:</h3></header>
								
							<% counterF++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "g" && counterG == 0) {%>
														
								<header><h3>Letra G:</h3></header>
								
							<% counterG++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "h" && counterH == 0) {%>
														
								<header><h3>Letra H:</h3></header>
								
							<% counterH++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "i" && counterI == 0) {%>
														
								<header><h3>Letra I:</h3></header>
								
							<% counterI++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "j" && counterJ == 0) {%>
														
								<header><h3>Letra J:</h3></header>
								
							<% counterJ++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "k" && counterK == 0) {%>
														
								<header><h3>Letra K:</h3></header>
								
							<% counterK++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "l" && counterL == 0) {%>
														
								<header><h3>Letra L:</h3></header>
								
							<% counterL++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "m" && counterM == 0) {%>
														
								<header><h3>Letra M:</h3></header>
								
							<% counterM++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "n" && counterN == 0) {%>
														
								<header><h3>Letra N:</h3></header>
								
							<% counterN++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "o" && counterO == 0) {%>
														
								<header><h3>Letra O:</h3></header>
								
							<% counterO++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "p" && counterP == 0) {%>
														
								<header><h3>Letra P:</h3></header>
								
							<% counterP++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "q" && counterQ == 0) {%>
														
								<header><h3>Letra Q:</h3></header>
								
							<% counterQ++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "r" && counterR == 0) {%>
														
								<header><h3>Letra R:</h3></header>
								
							<% counterR++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "s" && counterS == 0) {%>
														
								<header><h3>Letra S:</h3></header>
								
							<% counterS++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "t" && counterT == 0) {%>
														
								<header><h3>Letra T:</h3></header>
								
							<% counterT++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "u" && counterU == 0) {%>
														
								<header><h3>Letra U:</h3></header>
								
							<% counterU++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "v" && counterV == 0) {%>
														
								<header><h3>Letra V:</h3></header>
								
							<% counterV++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "x" && counterX == 0) {%>
														
								<header><h3>Letra X:</h3></header>
								
							<% counterX++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "z" && counterZ == 0) {%>
														
								<header><h3>Letra Z:</h3></header>
								
							<% counterZ++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "y" && counterY == 0) {%>
														
								<header><h3>Letra Y:</h3></header>
								
							<% counterY++; } %>

							<%if (dataSongs.name.substr(0,1).toLowerCase() == "w" && counterW == 0) {%>
														
								<header><h3>Letra W:</h3></header>
								
							<% counterW++; } %>

							<li>
								<a href="<%= dataSongs.link %>" target="_blank" tabindex="<%= tabindex %> "><%= dataSongs.name %></a><br>
							</li>
							
						<% tabindex++; }) %>

					</ol>	
				</div>
			</div>
		</main>
		<br>
		<!-- Observação -->
		
		<%- include("./components/Page-Note.ejs", {title: "Observação!", observation: dataObservation, suggestion: dataSuggestion }) %> 

	</div>

	<!--Rodapé-->
	
	<%- include("./components/Page-Footer.ejs", { contacts: contacts}) %> 

</body>

</html>