<!DOCTYPE html>
<html lang="pt-br">

<head>

    <%- include("../components/Page-Head.ejs", {title: "AniJogos - Atualizar dados" }) %>

</head>

<body style="background-color: cornsilk">
    <div id="update-anime">
        <header>
            <a href="/registers/update"> &lt; </a>
            <h1>Atualizar Dados</h1>
        </header>
        <main>
            <% dataResult.forEach(dataResult=> { %>

                <form action="/registers/update/observations/<%= dataResult.id %> " method="post">
                    <fieldset>
                        <legend>Insira os novos Dados</legend>
                        <div class="input-group">
                            <label for="observation-id">Id</label>
                            <input type="text" name="observation-id" id="observation-id" disabled value="<%= dataResult.id %>">
                        </div>

                        <div class="input-group">
                            <label for="observation-name">Nome:</label>
                            <input type="text" name="observation-name" id="observation-name" value="<%=dataResult.name %>"
                                style="color: black;">
                        </div>

                        <div class="input-group">
                            <label for="information">Link:</label>
                            <input type="text" name="information" id="information" value="<%= dataResult.information %>">
                        </div>

                        <div id="button-group">
                            <button type="submit" class="confirm">Confirmar</button>
                            <button type="reset" class="cancel">Cancelar</button>
                        </div>
                    </fieldset>
                </form>

                <% }) %>
        </main>
    </div>
</body>

</html>